* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f3f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #0dedf9;
  padding: 25px 35px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
  color: #444;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  border-color: #3b82f6;
  outline: none;
}

.error {
  color: red;
  font-size: 12px;
  height: 14px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  background: #3b82f6;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

#successMessage {
  color: green;
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
}